# Ignore everything
/*

# Allow files under
# Wezterm
!wezterm/
!wezterm/*/*
wezterm/background

# Alacritty
!alacritty/
!alacritty/*/*

# Tmux
!tmux/
!tmux/*/*
tmux/plugins

# Neovim
!nvim/
!nvim/*/*

# ZSH
!zsh/
!zsh/*/*

!.gitignore


